.container{
    max-width: 1200px;
    width: 100%;
    /*padding: 0 10px;*/
    margin: 0 auto;

}
.app{
    background: linear-gradient(
            145deg,
            hsl(0deg 0% 100%) 14%,
            hsl(45deg 1% 86%) 45%,
            hsl(45deg 1% 73%) 54%,
            hsl(45deg 1% 59%) 61%,
            hsl(45deg 1% 47%) 68%,
            hsl(45deg 1% 35%) 75%,
            hsl(45deg 2% 24%) 83%,
            hsl(45deg 3% 13%) 91%,
            hsl(45deg 100% 1%) 100%
    );
}