.card {
  width: 260px;
  height: 470px;
  border-radius: 5px;
  position: relative;
  background-size: 267px 483px;
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17.6036px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
  }

  &__hidden-block {
    display: none;
  }


  &__block {
    border-radius: 6px;
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
  }
}