.nav-bar{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 55px;
}
.active{
  color: #FFFFFF;
}
a{
  text-decoration: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 121.19%;
  color: #6A6A6A;
}
